/*-----------------------------------*\
  #main.css
\*-----------------------------------*/

/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

/**
 * COLORS
 */

/* background colors */
.bg-white { background-color: hsla(0, 0%, 100%, 1); }
.bg-light-gray { background-color: hsla(240, 1%, 83%, 1); }
.bg-dark-gray { background-color: #adadab; }
.bg-navyblack { background-color: #2d3847; }
.bg-white-alt { background-color: #d3c7bb; }

/* gradient colors */
.gradient-1 { background: linear-gradient(to top, var(--bg-black) 0%, transparent 40%); }
.gradient-2 { background: radial-gradient(circle at 75% 100%, hsla(79, 100%, 70%, 0.3) 0%, transparent 100%); }

/* text colors */
.text-white { color: hsla(0, 0%, 100%, 1); }
.text-light-gray { color: hsla(240, 1%, 83%, 1); }
.text-black { color: hsla(0, 0%, 0%, 1); }
.text-navyblack { color: #2d3847; }
.text-offwhite { color: #dbd8e3 ; }

/* border colors */
.border-white { border-color: hsla(0, 0%, 100%, 1); }
.border-light-gray { border-color: hsla(240, 1%, 83%, 1); }
.border-gainsboro { border-color: hsla(220, 13%, 91%, 1); }
.border-eerie-black { border-color: hsla(0, 0%, 13%, 1); }
.border-smoky-black { border-color: hsla(0, 0%, 6%, 1); }

/**
 * TYPOGRAPHY
 */

/* font family */
.font-recoleta { font-family: 'Recoleta'; }
.font-roboto { font-family: 'Roboto', sans-serif; }

/* font size */
.font-size-1 { font-size: 4.6rem; }
.font-size-2 { font-size: 7rem; }
.font-size-3 { font-size: 4rem; }
.font-size-4 { font-size: 3rem; }
.font-size-5 { font-size: 2.4rem; }
.font-size-6 { font-size: 1.8rem; }
.font-size-7 { font-size: 2rem; }
.font-size-8 { font-size: 1.6rem; }
.font-size-9 { font-size: 1.5rem; }
.font-size-10 { font-size: 1.4rem; }

/* font weight */
.weight-regular { font-weight: 400; }
.weight-medium { font-weight: 500; }

/**
 * SPACING
 */

.section-spacing { padding-block: 70px; }

/**
 * BORDER RADIUS
 */

.radius-pill { border-radius: 500px; }
.radius-circle { border-radius: 50%; }

/**
 * TRANSITION
 */

.transition-1 { transition: 0.25s ease; }
.transition-2 { transition: 0.5s ease; }
.transition-3 { transition: 1000ms cubic-bezier(0.03, 0.98, 0.52, 0.99) 0s; }
.cubic-in { transition-timing-function: cubic-bezier(0.51, 0.03, 0.64, 0.28); }
.cubic-out { transition-timing-function: cubic-bezier(0.05, 0.83, 0.52, 0.97); }

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a,
img,
span,
input,
button,
textarea,
ion-icon { display: block; }

h2{ font-family: "Syne", sans-serif; }

a {
  color: inherit;
  text-decoration: none;
}

p { color: var(--text-navyblack); }

img { height: auto; }

input,
button,
textarea {
  background: none;
  border: none;
  font: inherit;
}

input,
textarea { width: 100%; }

button { cursor: pointer; }

ion-icon { pointer-events: none; }

address { font-style: normal; }

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: hsla(240, 1%, 83%, 1);
  color: #2d3847;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  line-height: 1.75;
  overflow: hidden;
}

body.loaded { overflow-y: auto; }

body.nav-active { overflow: hidden; }

::-webkit-scrollbar { width: 5px; }

::-webkit-scrollbar-track { border-inline-start: 1px solid hsla(0, 0%, 13%, 1); }

::-webkit-scrollbar-thumb { background-color: hsla(0, 0%, 100%, 1); }

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container { padding-inline: 16px; }

.btn\:hover {
  position: relative;
  z-index: 1;
}

.btn\:hover::before,
.btn\:hover::after {
  content: "";
  position: absolute;
  margin-top: 0;
  margin-left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: 0.25s ease;
  will-change: transform;
  pointer-events: none;
}

.btn\:hover::after {
  border: 1px solid hsla(0, 0%, 100%, 1);
  transform: scale(1.2);
  opacity: 0;
}

.btn\:hover:is(:hover, :focus-visible)::before {
  transform: scale(0.5);
  opacity: 0;
}

.btn\:hover:is(:hover, :focus-visible)::after {
  transform: scale(1);
  opacity: 1;
}

.text-center { text-align: center; }

.has-before,
.has-after {
  position: relative;
  z-index: 1;
}

.has-before::before,
.has-after::after {
  content: "";
  position: absolute;
}

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  overflow: hidden;
  background-color: #2d3847;
  border-radius: 25px;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

[data-tilt] { transition: 1000ms cubic-bezier(0.03, 0.98, 0.52, 0.99) 0s; }

.title {
  color: #000;
  font-family: 'Recoleta';
  font-weight: 400;
  z-index: 1;
  opacity: 1;
}

.h1 {
  font-size: 7rem;
  line-height: 1.2;
}

.h2,
.h3,
.h4,
.h5 { 
  line-height: 1.3; 
  font-family: "Shrikhand", serif;
}

.h2 { font-size: 4rem; }

.h3 { font-size: 3rem; }

.h4 { font-size: 2.4rem; }

.h5 { font-size: 2rem; }

.h6 { font-size: 1.8rem; }

.btn {
  color: hsla(0, 0%, 100%, 1);
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: max-content;
  height: 56px;
  padding-inline: 30px;
}

.btn::before { background-color: hsla(0, 0%, 100%, 1); }

.btn ion-icon {
  font-size: 1.8rem;
  --ionicon-stroke-width: 50px;
}

.section {
  padding-block: 70px;
  overflow-x: hidden;
}

/*-----------------------------------*\
  #PRELOADER
\*-----------------------------------*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  box-shadow: inset 55vw 0 0 0 hsla(0, 0%, 100%, 1),
              inset -55vw 0 0 0 hsla(0, 0%, 100%, 1);
  display: grid;
  place-items: center;
  z-index: 10;
}

.preloader.loaded {
  transition: 400ms ease 500ms;
  pointer-events: none;
  box-shadow: inset 0 0 0 0 hsla(0, 0%, 100%, 1),
              inset 0 0 0 0 hsla(0, 0%, 100%, 1);
}

.preloader .line {
  width: 1px;
  height: 100%;
  background-color: hsla(0, 0%, 13%, 1);
}

.preloader .loader {
  display: grid;
  place-items: center;
}

.preloader .loader .text {
  font-family: 'Recoleta';
  font-size: 4.6rem;
  font-weight: 500;
}

.preloader .loader .text > * {
  display: block;
  line-height: 1;
}

.preloader .loader .text .line { overflow: hidden; }

.preloader .loader .text .line span {
  display: block;
  transform: translateY(100%);
  transition: 400ms cubic-bezier(0.51, 0.03, 0.64, 0.28);
}

.preloader.loaded .loader .text .line span {
  transform: translateY(0);
  transition-timing-function: cubic-bezier(0.05, 0.83, 0.52, 0.97);
}

/*-----------------------------------*\
  #HEADER & NAV
\*-----------------------------------*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  padding-block: 0;
  display: flex;
  align-items: center;
  background: transparent;
  z-index: 9;
  transition: 0.25s ease;
}

.header.active {
  background-color: hsla(0, 0%, 100%, 1);
  box-shadow: 0 10px 30px -15px hsla(0, 0%, 13%, 0.25);
}

.header .container { display: flex; }

.header .logo {
  height: 28px;
  display: flex;
  align-items: center;
  transition: 0.25s ease;
}

.header .logo ion-icon { display: none; }

.header .btn\:hover::before {
  z-index: 1;
  background-color: hsla(0, 0%, 0%, 1);
}

.header .nav-open-btn {
  font-size: 2.5rem;
  color: hsla(0, 0%, 0%, 1);
  display: flex;
  margin-left: auto;
}

.nav {
  width: 100%;
  height: 100vh;
  padding: 90px 0 0 0;
  position: fixed;
  inset: 0 0 0 100%;
  background-color: hsla(0, 0%, 100%, 1);
  z-index: 9;
  transition: 0.5s ease-in-out;
}

.nav.active { inset: 0; }

.nav .container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 70px 0 40px;
  height: 100%;
}

.nav .has-before::before {
  inset: 0 0 0 100%;
  border-inline-end: 1px solid hsla(0, 0%, 13%, 1);
  transition: 0.5s ease-in-out;
}

.nav .has-before.is-hover::before { inset: 0; }

.nav .link:hover { opacity: 0.75; }

.nav .social-list {
  display: flex;
  gap: 20px;
  margin-top: auto;
}

.nav .social-list .link {
  width: 44px;
  height: 44px;
  display: grid;
  place-items: center;
}

.nav .social-list .link ion-icon {
  font-size: 2.2rem;
  color: hsla(0, 0%, 0%, 1);
}

/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.hero {
  min-height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
  position: relative;
}

.hero .container { display: grid; }

.hero .section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-block: 100px;
}

.hero .has-before::before {
  content: " ";
  height: 1px;
  background-color: hsla(0, 0%, 100%, 1);
  inset: 100% 0 0;
  transition: 0.5s ease-in-out;
}

.hero .has-before.is-hover::before { inset: 0; }

.hero .subtitle { font-size: 2rem; }

.hero .title { font-size: 7rem; }

.hero .text { font-size: 2.4rem; }

/*-----------------------------------*\
  #ABOUT
\*-----------------------------------*/

.about { background-color: hsla(240, 1%, 83%, 1); }

.about .section {
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: center;
}

.about .subtitle { font-size: 2rem; }

.about .title { font-size: 4rem; }

.about .text { font-size: 1.6rem; }

.about .container { display: flex; flex-direction: column; gap: 40px; }

.about .card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.about .card .icon {
  width: 40px;
  height: 40px;
  margin-inline: auto;
}

.about .card .icon ion-icon {
  font-size: 4rem;
  --ionicon-stroke-width: 50px;
}

.about .card .title {
  color: hsla(0, 0%, 0%, 1);
  font-size: 2.4rem;
  font-weight: 500;
}

.about .card .text { color: hsla(0, 0%, 0%, 1); }

.about .img-holder {
  width: 60%;
  aspect-ratio: 4/3;
  margin-inline: auto;
  position: relative;
  z-index: 1;
}

.about .img-holder::before {
  width: 100%;
  height: 100%;
  inset: 0;
  transition: 0.5s ease;
}

.about .img-holder:hover::before {
  inset: 5% auto auto 5%;
  background-color: hsla(0, 0%, 13%, 1);
}

.about .img-holder .img-cover { object-position: center; }

/*-----------------------------------*\
  #GALLERY
\*-----------------------------------*/

.gallery .section { display: flex; flex-direction: column; gap: 32px; }

.gallery .subtitle { font-size: 2rem; }

.gallery .title { font-size: 4rem; }

.gallery .container { display: grid; gap: 20px; }

.gallery .img-holder {
  aspect-ratio: 1;
  margin-inline: auto;
  border-radius: 25px;
}

.gallery .img-holder:hover { transform: scale(1.2); }

/*-----------------------------------*\
  #SERVICE
\*-----------------------------------*/

.service { background-color: hsla(240, 1%, 83%, 1); }

.service .section {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.service .subtitle { font-size: 2rem; }

.service .title { font-size: 4rem; }

.service .container { display: flex; flex-direction: column; gap: 20px; }

.service .card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.service .card .icon {
  width: 40px;
  height: 40px;
  margin-inline: auto;
}

.service .card .icon ion-icon {
  font-size: 4rem;
  --ionicon-stroke-width: 50px;
}

.service .card .title {
  color: hsla(0, 0%, 0%, 1);
  font-size: 2.4rem;
  font-weight: 500;
}

.service .card .text { color: hsla(0, 0%, 0%, 1); }

/*-----------------------------------*\
  #PRICING
\*-----------------------------------*/

.pricing {
  padding-top: 0;
  position: relative;
}

.pricing::before,
.pricing::after {
  content: "";
  position: absolute;
  background-color: #2d3847;
}

.pricing::before {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  inset: 0 0 auto auto;
}

.pricing::after {
  width: 4px;
  height: 4px;
  inset: auto auto 0 0;
}

.pricing .section {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.pricing .subtitle { font-size: 2rem; }

.pricing .title { font-size: 4rem; }

.pricing .container { display: flex; flex-direction: column; gap: 40px; }

.pricing .card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.pricing .card .icon {
  width: 40px;
  height: 40px;
  margin-inline: auto;
}

.pricing .card .icon ion-icon {
  font-size: 4rem;
  --ionicon-stroke-width: 50px;
}

.pricing .card .title {
  color: hsla(0, 0%, 0%, 1);
  font-size: 2.4rem;
  font-weight: 500;
}

.pricing .card .text { color: hsla(0, 0%, 0%, 1); }

.pricing .img-holder {
  width: 60%;
  aspect-ratio: 4/3;
  margin-inline: auto;
  position: relative;
  z-index: 1;
}

.pricing .img-holder::before {
  width: 100%;
  height: 100%;
  inset: 0;
  transition: 0.5s ease;
}

.pricing .img-holder:hover::before {
  inset: 5% auto auto 5%;
  background-color: hsla(0, 0%, 13%, 1);
}

.pricing .img-holder .img-cover { object-position: center; }

/*-----------------------------------*\
  #BLOG
\*-----------------------------------*/

.blog .section { display: flex; flex-direction: column; gap: 32px; }

.blog .subtitle { font-size: 2rem; }

.blog .title { font-size: 4rem; }

.blog .container { display: grid; gap: 20px; }

.blog .img-holder {
  aspect-ratio: 1;
  margin-inline: auto;
  border-radius: 25px;
}

.blog .img-holder:hover { transform: scale(1.2); }

/*-----------------------------------*\
  #CTA
\*-----------------------------------*/

.cta { background-color: hsla(240, 1%, 83%, 1); }

.cta .section {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.cta .subtitle { font-size: 2rem; }

.cta .title { font-size: 4rem; }

.cta .container { display: flex; flex-direction: column; gap: 20px; }

.cta .card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cta .card .icon {
  width: 40px;
  height: 40px;
  margin-inline: auto;
}

.cta .card .icon ion-icon {
  font-size: 4rem;
  --ionicon-stroke-width: 50px;
}

.cta .card .title {
  color: hsla(0, 0%, 0%, 1);
  font-size: 2.4rem;
  font-weight: 500;
}

.cta .card .text { color: hsla(0, 0%, 0%, 1); }

/*-----------------------------------*\
  #CONTACT
\*-----------------------------------*/

.contact { background-color: hsla(240, 1%, 83%, 1); }

.contact .section {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.contact .subtitle { font-size: 2rem; }

.contact .title { font-size: 4rem; }

.contact .container { display: flex; flex-direction: column; gap: 20px; }

.contact .card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contact .card .icon {
  width: 40px;
  height: 40px;
  margin-inline: auto;
}

.contact .card .icon ion-icon {
  font-size: 4rem;
  --ionicon-stroke-width: 50px;
}

.contact .card .title {
  color: hsla(0, 0%, 0%, 1);
  font-size: 2.4rem;
  font-weight: 500;
}

.contact .card .text { color: hsla(0, 0%, 0%, 1); }

/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer .section {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer .subtitle { font-size: 2rem; }

.footer .title { font-size: 4rem; }

.footer .container { display: flex; flex-direction: column; gap: 20px; }

.footer .card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer .card .icon {
  width: 40px;
  height: 40px;
  margin-inline: auto;
}

.footer .card .icon ion-icon {
  font-size: 4rem;
  --ionicon-stroke-width: 50px;
}

.footer .card .title {
  color: hsla(0, 0%, 0%, 1);
  font-size: 2.4rem;
  font-weight: 500;
}

.footer .card .text { color: hsla(0, 0%, 0%, 1); }
